In [1]:
import pandas as pd
import numpy as np
import os
from pathlib import Path
import sys
import qgrid

In [2]:
df = pd.read_csv(str(Path(os.getcwd()).parent)+'/data/csv/FY1.txt', engine="python")

In [3]:
df.head()

,SERVICE,MNGCMD,REGION,INSTALLATION_CODE,MAINT_UIC,SITE_CODE,RPSUID,RPUID,RECID,FACNO,...,FACILITY_RM_FUND,FACILITY_REPL_ORG,FACILITY_REPL_FUND,USER_ORG,USER_UIC,NAVY_CATEGORY,YEAR_BUILT,FACILITY_CONDITION_INDEX,AF_COMMAND_TENANT,REC_CHANGED_BY_BUS_RULE
0,F,1L,NaN,DKFX,NaN,DKGV0001,213.0,97588,83967.0,97588,...,3400,3.0,3300,3.0,NaN,NaN,1982.0,76.0,NaN,F12
1,F,1S,NaN,TDKA,NaN,WWCX0001,3339.0,524088,61667.0,7118,...,3400,3.0,3300,3.0,NaN,NaN,2004.0,100.0,NaN,F12
2,F,1S,NaN,TDKA,NaN,WWCX0001,3339.0,524096,61675.0,7244,...,3400,3.0,3300,3.0,NaN,NaN,1988.0,100.0,NaN,F12
3,F,1S,NaN,TDKA,NaN,WWCX0001,3339.0,524127,61694.0,7617,...,3400,3.0,3300,3.0,NaN,NaN,1989.0,100.0,NaN,F12
4,F,1L,NaN,DKFX,NaN,DKGV0001,213.0,91796,86925.0,2307,...,3400,3.0,3300,3.0,NaN,NaN,1991.0,100.0,NaN,F12

In [6]:
for col in df.columns:
    print(col)
    try:
        print(np.unique(df[[col]].values))
    except:
        pass

SERVICE
MNGCMD
REGION
INSTALLATION_CODE
['01012' '010NG' '01202' '01252' '01530' '01910' '020NG' '02871' '04005'
 '040NG' '04985' '05087' '050NG' '05401' '05C55' '060NG' '06225' '06305'
 '06510' '06685' '06740' '06806' '06815' '0696A' '06F35' '08005' '080NG'
 '08505' '08605' '090NG' '09540' '09A35' '100NG' '110NG' '120NG' '1281A'
 '12A01' '13025' '13055' '130NG' '13255' '13305' '150NG' '15224' '15815'
 '160NG' '16A25' '170NG' '17255' '17305' '17306' '17775' '17795' '17B60'
 '18055' '18081' '180NG' '18255' '190NG' '19105' '19901' '200NG' '20395'
 '20605' '21045' '210NG' '21145' '21405' '21479' '21A95' '220NG' '22725'
 '22B91' '22C50' '230NG' '24015' '240NG' '24225' '24355' '250NG' '25175'
 '25690' '260NG' '26105' '26155' '26758' '26B15' '270NG' '27650' '27864'
 '27B40' '280NG' '28475' '28941' '290NG' '29155' '29405' '29995' '300NG'
 '30655' '310NG' '31135' '31475' '31480' '320NG' '32225' '33038' '330NG'
 '33224' '340NG' '34855' '350NG' '35955' '360NG' '36205' '36325' '36760'
 '36990' '36993' '36D35' '370NG' '37225' '37745' '380NG' '38A45' '390NG'
 '39225' '39335' '39430' '39D75' '400NG' '40520' '40580' '40755' '410NG'
 '41C30' '420NG' '42155' '42307' '42345' '42400' '42560' '42755' '42780'
 '440NG' '44502' '450NG' '45455' '45914' '460NG' '46B75' '470NG' '47305'
 '47475' '47545' '480NG' '48125' '48255' '48304' '48315' '48409' '48515'
 '48555' '48G00' '490NG' '49295' '49575' '49911' '500NG' '50340' '510NG'
 '51105' '51290' '51315' '51375' '51541' '51565' '51595' '51869' '52835'
 '530NG' '53465' '540NG' '54A75' '550NG' '55125' '55425' '560NG' '56A55'
 '59540' '76897' '82387' '82781' '83496' '94057' 'AAWZ' 'ABILDR' 'ABRDWL'
 'ACJP' 'AEDY' 'AGGN' 'AJXF' 'ANZY' 'AQRC' 'ASHE' 'ATQZ' 'AWUB' 'AXQD'
 'BAEY' 'BENS0' 'BKTZ' 'BRKR' 'BXRH' 'CEKT' 'CGBRQN' 'CNBC' 'CRWU' 'CTGB'
 'CURZ' 'CVVM' 'CYUX' 'CZQZ' 'DCFT' 'DDPM' 'DEABLD' 'DEAINS' 'DHABLD'
 'DJCF' 'DKFX' 'DPEZ' 'EEPZ' 'ERVD' 'ETRD' 'EXSW' 'FAKZ' 'FBILDR' 'FBNV'
 'FFAN' 'FGWB' 'FJRP' 'FJXT' 'FKNN' 'FMKM' 'FNWZ' 'FSPM' 'FSUSDS' 'FTEV'
 'FTFA' 'FTQW' 'FWJH' 'FXBM' 'FXSB' 'GEAN0' 'GEGF0' 'GEKL0' 'GEST0'
 'GEWB0' 'GHLN' 'GJKZ' 'GKVB' 'GLEN' 'GQ010' 'GQ0NG' 'GUQE' 'HAAW' 'HAYW'
 'HKRZ' 'HTUV' 'ITVI0' 'JA210' 'JBSA' 'JCGU' 'JFSD' 'JKSE' 'JLQN' 'JLSQ'
 'JLSS' 'JLWS' 'JTVE' 'KJAQ' 'KKGA' 'KLNBGL' 'KLZA' 'KRSM' 'KS160' 'KS792'
 'KS948' 'KWRD' 'KYJM' 'LDXF' 'LJYC' 'LKLW' 'LRXQ' 'LSGA' 'LTUY' 'LUXC'
 'LXEZ' 'LYBH' 'M00146' 'M00243' 'M00263' 'M00264' 'M00318' 'M00681'
 'M20810' 'M60050' 'M60169' 'M62204' 'M62535' 'M62613' 'M62974' 'M67001'
 'M67004' 'M67011' 'M67021' 'M67029' 'M67386' 'M67399' 'M67400' 'M67695'
 'M67861' 'M67865' 'M68479' 'MABE' 'MAHG' 'MASESS' 'MBMV' 'MDSIGN' 'MDVL'
 'MHMV' 'MLWR' 'MQNA' 'MSET' 'MSMSSP' 'MSPINS' 'MSQB' 'MUHJ' 'MWHL' 'MXDP'
 'MXRD' 'N00052' 'N00128' 'N00129' 'N00158' 'N00171' 'N00204' 'N00206'
 'N00207' 'N00213' 'N00216' 'N00245' 'N00246' 'N00620' 'N00639' 'N32411'
 'N32414' 'N32443' 'N32446' 'N32778' 'N33355' 'N3379A' 'N40003' 'N41557'
 'N42237' 'N44852' 'N47608' 'N47609' 'N50092' 'N50173' 'N57095' 'N60042'
 'N60087' 'N60191' 'N60201' 'N60241' 'N60495' 'N60508' 'N60514' 'N61007'
 'N61008' 'N61011' 'N61014' 'N61018' 'N61054' 'N61056' 'N61057' 'N61058'
 'N61060' 'N61064' 'N61065' 'N61066' 'N61077' 'N61142' 'N61151' 'N61152'
 'N61755' 'N62588' 'N62590' 'N62592' 'N62604' 'N62688' 'N62813' 'N62863'
 'N62995' 'N63005' 'N63042' 'N63043' 'N63406' 'N66691' 'N68436' 'N68469'
 'N68539' 'N68967' 'N69126' 'N69127' 'N69141' 'N69152' 'N69160' 'N69161'
 'N69168' 'N69170' 'N69174' 'N69176' 'N69212' 'N69213' 'N69232' 'N83447'
 'N91041' 'N91571' 'N91662' 'N93880' 'NGCB' 'NKAK' 'NLZG' 'NQ100' 'NUEX'
 'NVZR' 'NZAS' 'PBXP' 'PDPG' 'PJMS' 'PJVY' 'PNQS' 'PRQE' 'PSTE' 'PSXE'
 'PTFL' 'PYKL' 'QFQE' 'QJKL' 'QJVF' 'QKKA' 'QMSN' 'QSEU' 'QUUG' 'QYZH'
 'RKMF' 'RQ0NG' 'RQ327' 'RQ577' 'RQLH' 'RVKQ' 'RZJQ' 'SAXC' 'SCLT' 'SGBP'
 'SHYQ' 'SMYU' 'SPBN' 'SXHT' 'SZCQ' 'TDKA' 'TDVG' 'TQKD' 'TTQK' 'TUMR'
 'TWLR' 'TYFR' 'UCTL' 'UHHZ' 'ULYB' 'USEB' 'VBDZ' 'VDYD' 'VGLZ' 'VKAG'
 'VLSB' 'VNMH' 'VNVP' 'VQ0NG' 'VSSB' 'VTNB' 'VUBV' 'VYHK' 'WAAR' 'WEAS'
 'WHAY' 'WHS01' 'WKVB' 'WWYK' 'WYTD' 'WZVV' 'XDAT' 'XDQU' 'XGFG' 'XHEA'
 'XHZG' 'XLWU' 'XQPZ' 'XTLF' 'XUMU' 'YAQF' 'YTPM' 'YWHG' 'YZEU' 'ZAWA'
 'ZHTV' 'ZNRE' 'ZQEL']
MAINT_UIC
SITE_CODE
RPSUID
[ 1.  3.  4. ... nan nan nan]
RPUID
RECID
[ 1.  2.  3. ... nan nan nan]
FACNO
FAC
['1111' '1112' '1113' '1114' '1115' '1121' '1122' '1131' '1161' '1162'
 '1163' '1164' '1165' '1166' '1167' '1211' '1221' '1231' '1241' '1242'
 '1243' '1244' '1251' '1252' '1261' '1262' '1311' '1312' '1321' '1331'
 '1341' '1351' '1361' '1362' '1371' '1381' '1402' '1403' '1404' '1411'
 '1412' '1413' '1421' '1422' '1431' '1441' '1442' '1443' '1444' '1445'
 '1446' '1451' '1452' '1453' '1454' '1456' '1457' '1458' '1459' '1461'
 '1462' '1463' '1464' '1465' '1466' '1467' '1492' '1493' '1494' '1495'
 '1496' '1497' '1498' '1499' '1511' '1512' '1513' '1531' '1541' '1551'
 '1552' '1591' '1593' '1611' '1631' '1641' '1711' '1712' '1713' '1714'
 '1715' '1717' '1718' '1721' '1722' '1723' '1724' '1725' '1731' '1732'
 '1733' '1734' '1741' '1742' '1743' '1744' '1745' '1750' '1751' '1752'
 '1753' '1754' '1755' '1756' '1757' '1758' '1760' '1761' '1762' '1763'
 '1764' '1765' '1766' '1767' '1768' '1769' '1771' '1772' '1773' '1774'
 '1775' '1776' '1777' '1781' '1782' '1783' '1790' '1791' '1792' '1793'
 '1794' '1795' '1796' '1797' '1798' '1799' '2111' '2112' '2113' '2114'
 '2115' '2116' '2118' '2121' '2123' '2124' '2125' '2126' '2131' '2132'
 '2133' '2134' '2135' '2136' '2137' '2141' '2142' '2143' '2144' '2145'
 '2146' '2147' '2151' '2152' '2153' '2154' '2161' '2162' '2163' '2171'
 '2172' '2173' '2181' '2182' '2183' '2184' '2185' '2191' '2192' '2211'
 '2221' '2231' '2233' '2241' '2251' '2252' '2261' '2262' '2264' '2265'
 '2271' '2281' '2291' '3101' '3102' '3103' '3104' '3111' '3121' '3131'
 '3141' '3151' '3161' '3171' '3181' '3191' '3201' '3211' '3711' '3712'
 '3713' '3901' '3902' '3903' '3904' '4110' '4111' '4112' '4113' '4114'
 '4121' '4122' '4211' '4221' '4222' '4231' '4241' '4251' '4311' '4321'
 '4411' '4412' '4413' '4414' '4421' '4422' '4423' '4424' '4425' '4426'
 '4427' '4428' '4511' '4521' '5100' '5302' '5303' '5304' '5306' '5307'
 '5400' '5500' '5501' '6100' '6101' '6102' '6103' '6104' '6105' '6106'
 '6107' '6200' '6201' '6900' '7110' '7120' '7130' '7141' '7142' '7143'
 '7145' '7147' '7210' '7212' '7213' '7214' '7215' '7218' '7220' '7231'
 '7232' '7233' '7234' '7235' '7236' '7240' '7241' '7242' '7250' '7251'
 '7311' '7312' '7313' '7314' '7321' '7322' '7323' '7331' '7332' '7333'
 '7340' '7341' '7342' '7343' '7344' '7345' '7346' '7347' '7348' '7349'
 '7350' '7351' '7352' '7353' '7361' '7362' '7371' '7372' '7380' '7381'
 '7382' '7383' '7384' '7385' '7386' '7387' '7388' '7389' '7411' '7412'
 '7413' '7414' '7415' '7416' '7417' '7418' '7421' '7422' '7431' '7440'
 '7441' '7442' '7443' '7444' '7445' '7446' '7447' '7448' '7449' '7511'
 '7512' '7513' '7514' '7515' '7516' '7517' '7518' '7521' '7522' '7523'
 '7524' '7531' '7532' '7541' '7542' '7543' '7601' '7602' '7603' '7604'
 '7605' '8111' '8112' '8113' '8114' '8115' '8121' '8122' '8123' '8131'
 '8132' '8133' '8134' '8211' '8221' '8231' '8232' '8241' '8261' '8271'
 '8311' '8312' '8313' '8314' '8315' '8316' '8321' '8331' '8332' '8333'
 '8334' '8411' '8412' '8413' '8414' '8415' '8421' '8422' '8431' '8432'
 '8433' '8434' '8435' '8441' '8442' '8443' '8451' '8452' '8511' '8512'
 '8513' '8514' '8521' '8522' '8523' '8524' '8525' '8526' '8531' '8541'
 '8601' '8611' '8612' '8711' '8712' '8713' '8714' '8715' '8721' '8722'
 '8811' '8821' '8822' '8840' '8910' '8921' '8922' '8923' '8924' '8926'
 '8927' '8928' '8930' '8931' '8932' '8951' '9351' '999X']
CATCODE
[11110. 11111. 11112. ...    nan    nan    nan]
QUANTITY
[-418451.   -319608.   -209064.75 ...        nan        nan        nan]
COUNTRY
STATE
[ 0.  1.  2.  4.  5.  6.  8.  9. 10. 11. 12. 13. 15. 16. 17. 18. 19. 20.
 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35. 36. 37. 38.
 39. 40. 41. 42. 44. 45. 46. 47. 48. 49. 50. 51. 53. 54. 55. 56. 60. 66.
 67. 69. 72. 78. 79. nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan]
COUNTY
[  0.   1.   3.   5.   6.   7.   9.  10.  11.  13.  15.  16.  17.  19.
  20.  21.  23.  25.  27.  29.  30.  31.  33.  35.  37.  39.  41.  43.
  45.  47.  49.  50.  51.  53.  55.  57.  59.  60.  61.  63.  65.  67.
  68.  69.  70.  71.  73.  75.  77.  79.  81.  83.  85.  86.  87.  89.
  90.  91.  93.  95.  97.  99. 100. 101. 103. 105. 107. 109. 110. 111.
 113. 115. 117. 119. 121. 122. 123. 125. 127. 129. 130. 131. 133. 135.
 137. 139. 141. 143. 145. 147. 149. 150. 151. 153. 155. 157. 158. 159.
 161. 163. 164. 165. 167. 169. 170. 171. 173. 175. 177. 179. 180. 181.
 183. 185. 187. 188. 189. 191. 193. 195. 197. 199. 201. 203. 205. 207.
 209. 211. 215. 217. 219. 220. 223. 225. 227. 229. 231. 232. 233. 235.
 240. 245. 249. 255. 257. 259. 261. 267. 270. 271. 273. 275. 277. 285.
 289. 290. 297. 303. 309. 311. 313. 317. 325. 329. 339. 349. 355. 363.
 367. 375. 409. 413. 415. 417. 423. 427. 439. 441. 451. 453. 465. 469.
 471. 473. 477. 479. 481. 485. 491. 497. 510. 515. 540. 550. 580. 590.
 595. 600. 620. 630. 640. 650. 660. 678. 680. 683. 690. 700. 710. 730.
 740. 750. 760. 770. 780. 790. 800. 810. 830. 840. 999.  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan]
CITY
[ 6. 10. 11. ... nan nan nan]
ARNG_ASC
PREDOMINANT_CATCODE
[11110. 11111. 11112. ...    nan    nan    nan]
INTEREST
RPA_OPERATIONAL_STATUS
AGENCY_AREA
GRANT_MAINT
FORECAST
FY
[2022]
SUST_ORG
[ 0.  1.  2. ... nan nan nan]
SUST_FUND
[ 1.  2.  3. ... nan nan nan]
SUST_ACF
[0.    0.73  0.74  0.75  0.76  0.77  0.775 0.78  0.79  0.793 0.8   0.81
 0.815 0.82  0.825 0.83  0.835 0.84  0.85  0.855 0.86  0.865 0.87  0.88
 0.885 0.89  0.895 0.9   0.91  0.915 0.92  0.925 0.93  0.935 0.94  0.943
 0.95  0.96  0.97  0.98  0.985 0.99  1.    1.01  1.015 1.02  1.025 1.03
 1.035 1.04  1.045 1.05  1.055 1.057 1.06  1.07  1.08  1.09  1.095 1.1
 1.105 1.108 1.11  1.115 1.12  1.13  1.135 1.14  1.15  1.155 1.16  1.17
 1.18  1.19  1.2   1.21  1.22  1.23  1.24  1.25  1.26  1.27  1.28  1.29
 1.3   1.32  1.33  1.34  1.43  1.45  1.52  1.78  1.81  1.85  1.86  1.88
 1.89  1.93  1.94  1.95  1.997 2.03  2.05  2.07  2.11  2.14  2.16  2.21
 2.25  2.29  2.33  2.34  2.365 2.37  2.48  2.5   2.52  2.58  2.75  3.03
 3.31  4.4   4.64 ]
SUST_RQMT
[-2127633.99 -1112960.72 -1062845.58 ... 45780000.   56347000.
 86400000.  ]
RM_ORG
RM_FUND
[ 1.  2.  3. ... nan nan nan]
CONST_ACF
[0.    0.77  0.78  0.79  0.8   0.81  0.82  0.83  0.835 0.84  0.845 0.85
 0.855 0.86  0.87  0.872 0.875 0.88  0.89  0.9   0.91  0.915 0.92  0.925
 0.93  0.935 0.94  0.945 0.95  0.955 0.96  0.97  0.98  0.99  0.995 1.
 1.005 1.01  1.017 1.02  1.03  1.035 1.04  1.05  1.055 1.06  1.065 1.07
 1.08  1.09  1.1   1.105 1.11  1.115 1.12  1.125 1.13  1.135 1.14  1.143
 1.15  1.16  1.17  1.174 1.18  1.19  1.2   1.21  1.215 1.22  1.23  1.24
 1.25  1.26  1.29  1.31  1.33  1.34  1.43  1.53  1.69  1.75  1.84  1.89
 1.93  1.95  1.96  1.99  2.    2.01  2.05  2.07  2.08  2.1   2.112 2.14
 2.15  2.16  2.23  2.26  2.28  2.33  2.34  2.37  2.43  2.445 2.45  2.54
 2.56  2.72  2.83  3.24  3.42  4.75  5.06 ]
HIST
PRORATED_SERVICE_PRV
[0.   0.01 0.02 ...  nan  nan  nan]
FSM_CALC_PRV
[-1.61809392e+08 -1.46376333e+08 -1.30156453e+08 ...             nan
             nan             nan]
RPA_COMMAND_CLAIMANT_CODE
ORIG_QUANTITY
[-4.18451e+05 -3.19608e+05 -2.78753e+05 ...  5.20000e+08  6.13530e+08
  8.10000e+08]
ASSET_ALLOC_SUST_ORG
[ 0.  1.  2. ... nan nan nan]
ASSET_ALLOC_SUST_FUND
FACILITY_RM_ORG
FACILITY_RM_FUND
FACILITY_REPL_ORG
[ 0.  1.  2. ... nan nan nan]
FACILITY_REPL_FUND
USER_ORG
[ 0.  1.  2. ... nan nan nan]
USER_UIC
NAVY_CATEGORY
YEAR_BUILT
[1760. 1761. 1773. ...   nan   nan   nan]
FACILITY_CONDITION_INDEX
[-999. -997. -971. ...   nan   nan   nan]
AF_COMMAND_TENANT
REC_CHANGED_BY_BUS_RULE

In [74]:
df[['facility_replacement_value']].describe()

       facility_replacement_value
count                4.237310e+05
mean                 1.222253e+06
std                  1.054126e+07
min                  0.000000e+00
25%                  5.283000e+03
50%                  7.968400e+04
75%                  6.931340e+05
max                  3.210791e+09

In [49]:
df['QIC']

0              0.00
1              0.00
2              0.00
3              0.00
4              0.00
5            488.64
6            497.43
7            563.82
8            610.96
9            660.76
10           656.49
11             0.00
12         12669.79
13         21201.06
14         13676.42
15         25050.38
16         12177.18
17             0.00
18             0.00
19             0.00
20             0.00
21             0.00
22             0.00
23             0.00
24             0.00
25         15953.01
26         48774.83
27         52788.39
28         53394.15
29         48466.32
             ...
2120142      173.79
2120143      443.10
2120144     1540.08
2120145       42.70
2120146       47.69
2120147       44.83
2120148       49.65
2120149      126.60
2120150      215.01
2120151       27.53
2120152       31.11
2120153       30.23
2120154      242.07
2120155      264.50
2120156     2096.36
2120157      268.41
2120158      303.32
2120159      294.79
2120160      248.27
2120161      791.25
2120162     1343.82
2120163      172.06
2120164      194.43
2120165      188.97
2120166      313.44
2120167      342.50
2120168     2619.82
2120169      331.76
2120170      102.56
2120171      101.94
Name: QIC, Length: 2120172, dtype: float64

In [15]:
df.columns

Index(['DATAYEAR', 'XARMY_HEAD', 'REGION', 'INSTALLATI', 'BASECODE', 'BASE',
       'SITE_UID', 'SITE', 'ASSET_UID', 'FACNO', 'RPA_OPERAT', 'FACILITY_B',
       'RPA_TYPE_C', 'RPA_INTERE', 'CONSTRUCTI', 'ERV', 'QIC', 'QUAL_SCORE',
       'STAT_QUAL', 'MISSION_SC', 'STAT_MISSI', 'RATING_MET'],
      dtype='object')

In [24]:
cols = df.columns[[0,8,9,10,12,13,14,16]]
for c in cols:
    if c!='ASSET_UID':
        print(c)
        print(len(np.unique(df[[c]].values)))

DATAYEAR
6
FACNO
192832
RPA_OPERAT
10
RPA_TYPE_C
3
RPA_INTERE
12
CONSTRUCTI
4
QIC
778425

In [38]:
cols

Index(['DATAYEAR', 'ASSET_UID', 'FACNO', 'RPA_OPERAT', 'RPA_TYPE_C',
       'RPA_INTERE', 'CONSTRUCTI', 'QIC'],
      dtype='object')

In [18]:
df[cols].head()

   DATAYEAR ASSET_UID FACNO RPA_OPERAT RPA_TYPE_C RPA_INTERE CONSTRUCTI  QIC
0   20154.0   1004594  217D        ACT          S        FEE       PERM  0.0
1   20164.0   1004594  217D        ACT          S        FEE       PERM  0.0
2   20174.0   1004594  217D        ACT          S        FEE       PERM  0.0
3   20184.0   1004594  217D        ACT          S        FEE       PERM  0.0
4   20194.0   1004594  217D        ACT          S        FEE       PERM  0.0

In [21]:
data = pd.DataFrame(pd.pivot_table(df[cols], values=[x for x in cols if x not in ['DATAYEAR','ASSET_UID']], index='ASSET_UID', columns='DATAYEAR', aggfunc=lambda x: x).to_records())

In [46]:
data.iloc[[0],[1]].values[0][0] is None

True

In [48]:
data[["('QIC', 20154.0)", "('QIC', 20144.0)", "('QIC', 20164.0)"]]

KeyError: '["(\'QIC\',20154.0)"] not in index'

In [26]:
data.columns

Index(['ASSET_UID', '('CONSTRUCTI', 20144.0)', '('CONSTRUCTI', 20154.0)',
       '('CONSTRUCTI', 20164.0)', '('CONSTRUCTI', 20174.0)',
       '('CONSTRUCTI', 20184.0)', '('CONSTRUCTI', 20194.0)',
       '('FACNO', 20144.0)', '('FACNO', 20154.0)', '('FACNO', 20164.0)',
       '('FACNO', 20174.0)', '('FACNO', 20184.0)', '('FACNO', 20194.0)',
       '('QIC', 20144.0)', '('QIC', 20154.0)', '('QIC', 20164.0)',
       '('QIC', 20174.0)', '('QIC', 20184.0)', '('QIC', 20194.0)',
       '('RPA_INTERE', 20144.0)', '('RPA_INTERE', 20154.0)',
       '('RPA_INTERE', 20164.0)', '('RPA_INTERE', 20174.0)',
       '('RPA_INTERE', 20184.0)', '('RPA_INTERE', 20194.0)',
       '('RPA_OPERAT', 20144.0)', '('RPA_OPERAT', 20154.0)',
       '('RPA_OPERAT', 20164.0)', '('RPA_OPERAT', 20174.0)',
       '('RPA_OPERAT', 20184.0)', '('RPA_OPERAT', 20194.0)',
       '('RPA_TYPE_C', 20144.0)', '('RPA_TYPE_C', 20154.0)',
       '('RPA_TYPE_C', 20164.0)', '('RPA_TYPE_C', 20174.0)',
       '('RPA_TYPE_C', 20184.0)', '('RPA_TYPE_C', 20194.0)'],
      dtype='object')

In [80]:
np.unique(df.DATAYEAR.values)

array([20144., 20154., 20164., 20174., 20184., 20194.])

In [81]:
data = pd.read_csv(str(Path(os.getcwd()).parent)+'/data/train/skus')

In [83]:
data.dtypes

1315411    int64
dtype: object

In [78]:
df.dtypes

DATAYEAR      float64
XARMY_HEAD     object
REGION         object
INSTALLATI     object
BASECODE       object
BASE           object
SITE_UID        int64
SITE           object
ASSET_UID      object
FACNO          object
RPA_OPERAT     object
FACILITY_B     object
RPA_TYPE_C     object
RPA_INTERE     object
CONSTRUCTI     object
ERV           float64
QIC           float64
QUAL_SCORE    float64
STAT_QUAL     float64
MISSION_SC    float64
STAT_MISSI    float64
RATING_MET     object
dtype: object

In [71]:
df[df['Facility_Built_Date']=="null"]

Empty DataFrame
Columns: [Asset_UID, RPA_Operational_Status_CD, Facility_Built_Date, Army Head Quarter"", Region, Installation, Base, ERV, FY20Qual_Score, Rating_Method, FY19 Asset Level Data_Qual_Score, FY19 Asset Level Data_Rating_Method, FY18 Asset Level Data_Qual_Score, FY18 Asset Level Data_Rating_Method, FY17 Asset Level Data_Qual_Score, FY17 Asset Level Data_Rating_Method, FY16 Asset Level Data_Qual_Score, FY16 Asset Level Data_Rating_Method, FY15 Asset Level Data_Qual_Score, FY15 Asset Level Data_Rating_Method, FY14 Asset Level Data_Qual_Score, FY14 Asset Level Data_Rating_Method]
Index: []

[0 rows x 22 columns]

In [ ]:
df

In [75]:
np.unique(df['Region'].values)

array(['AMCOM', 'ARNG', 'CECOM', 'CMA', 'ID Europe', 'ID Pacific',
       'ID Readiness', 'ID Sustainment', 'ID Training', 'JMC', 'SDDC',
       'TACOM', 'USAR', 'USAREUR'], dtype=object)

In [56]:
np.unique(df['Rating_Method'].values)

array(['Business Rule', 'Inspection'], dtype=object)

In [48]:
# df.fillna(0, inplace=True)
# df[['FY17 Asset Level Data_Qual_Score', 'FY16 Asset Level Data_Qual_Score', 'FY15 Asset Level Data_Qual_Score', 'FY14 Asset Level Data_Qual_Score']] = df[['FY17 Asset Level Data_Qual_Score', 'FY16 Asset Level Data_Qual_Score', 'FY15 Asset Level Data_Qual_Score', 'FY14 Asset Level Data_Qual_Score']].applymap(lambda x: x if x>=0 else -1)
test =df[df['FY17 Asset Level Data_Qual_Score']==0]
test

,Asset_UID,FY18 Asset Level Data_Qual_Score,FY17 Asset Level Data_Qual_Score,FY16 Asset Level Data_Qual_Score,FY15 Asset Level Data_Qual_Score,FY14 Asset Level Data_Qual_Score
12950,969610,86.0,0.0,0.0,0.0,90.0
13329,206403,84.0,0.0,0.0,0.0,90.0
13427,970749,83.0,0.0,0.0,0.0,95.0
13428,970750,81.0,0.0,0.0,0.0,98.0
13441,983450,77.0,0.0,0.0,0.0,90.0
13442,983451,85.0,0.0,0.0,0.0,79.0
13450,983459,64.0,0.0,0.0,0.0,97.0
13453,983462,80.0,0.0,0.0,0.0,96.0
13590,322839,80.0,0.0,0.0,0.0,79.0
13610,324745,80.0,0.0,0.0,82.0,91.0
13795,1133184,21.0,0.0,100.0,100.0,100.0
14054,326691,90.0,0.0,0.0,0.0,100.0
14055,326692,80.0,0.0,0.0,0.0,90.0
14070,326716,95.0,0.0,0.0,0.0,99.0
14249,328741,89.0,0.0,0.0,0.0,78.0
14289,334019,83.0,0.0,0.0,0.0,100.0
14559,343943,94.0,0.0,0.0,0.0,100.0
15700,350837,85.0,0.0,0.0,0.0,100.0
15701,350838,80.0,0.0,0.0,0.0,100.0
15742,360284,90.0,0.0,0.0,0.0,64.0
15743,360285,89.0,0.0,0.0,0.0,79.0
15927,365416,87.0,0.0,0.0,100.0,100.0
15928,365417,99.0,0.0,0.0,100.0,100.0
15947,983485,69.0,0.0,0.0,0.0,95.0
15959,983498,84.0,0.0,0.0,0.0,86.0
15961,983501,91.0,0.0,0.0,0.0,87.0
15964,983505,69.0,0.0,0.0,0.0,85.0
15965,983506,69.0,0.0,0.0,0.0,100.0
16007,369726,99.0,0.0,0.0,0.0,74.0
16375,216076,83.0,0.0,0.0,0.0,95.0
...,...,...,...,...,...,...
324712,605206,0.0,0.0,0.0,0.0,0.0
324734,611899,8.0,0.0,0.0,0.0,0.0
324769,615499,0.0,0.0,0.0,0.0,0.0
325218,618601,0.0,0.0,0.0,0.0,0.0
325233,619663,0.0,0.0,0.0,0.0,0.0
325242,621552,12.0,0.0,0.0,0.0,0.0
326558,359574,72.0,0.0,0.0,1.0,72.0
326567,359804,20.0,0.0,0.0,54.0,59.0
328117,1011240,85.0,0.0,0.0,100.0,100.0
331177,360036,85.0,0.0,0.0,85.0,90.0
331182,360041,33.0,0.0,0.0,0.0,69.0
332087,373537,0.0,0.0,70.0,30.0,70.0
332564,256267,70.0,0.0,23.0,23.0,75.0
332565,256268,70.0,0.0,0.0,0.0,71.0
332703,373940,0.0,0.0,0.0,57.0,24.0
332740,373962,74.0,0.0,0.0,80.0,70.0
332778,374020,NaN,0.0,0.0,6.0,74.0
333279,374374,0.0,0.0,0.0,83.0,83.0
333280,374375,78.0,0.0,0.0,83.0,81.0
333396,374533,75.0,0.0,0.0,73.0,76.0
333836,374802,46.0,0.0,0.0,64.0,100.0
333884,375216,21.0,0.0,25.0,94.0,60.0
333885,375217,NaN,0.0,0.0,71.0,70.0
333916,375383,19.0,0.0,0.0,100.0,100.0
334150,375461,83.0,0.0,0.0,0.0,0.0
334152,375466,77.0,0.0,0.0,59.0,25.0
335031,375681,71.0,0.0,0.0,0.0,0.0
337327,1041082,0.0,0.0,0.0,100.0,100.0
338006,1047658,0.0,0.0,0.0,0.0,70.0
340117,1219514,0.0,0.0,0.0,0.0,NaN

In [16]:
df.head()

,Asset_UID,RPA_Operational_Status_CD,Facility_Built_Date,"Army Head Quarter""""",Region,Installation,Base,ERV,FY20Qual_Score,Rating_Method,...,FY18 Asset Level Data_Qual_Score,FY18 Asset Level Data_Rating_Method,FY17 Asset Level Data_Qual_Score,FY17 Asset Level Data_Rating_Method,FY16 Asset Level Data_Qual_Score,FY16 Asset Level Data_Rating_Method,FY15 Asset Level Data_Qual_Score,FY15 Asset Level Data_Rating_Method,FY14 Asset Level Data_Qual_Score,FY14 Asset Level Data_Rating_Method
0,1315360,ACT,11/11/2010,IMCOM,ID Training,NaN,Fort Lee,510844.96,0.0,Business Rule,...,95.0,Business Rule,NaN,Business Rule,NaN,Business Rule,NaN,Business Rule,NaN,Business Rule
1,1315411,ACT,11/11/2010,IMCOM,ID Training,NaN,Fort Lee,445684.98,0.0,Business Rule,...,95.0,Business Rule,NaN,Business Rule,NaN,Business Rule,NaN,Business Rule,NaN,Business Rule
2,1315412,ACT,11/11/2010,IMCOM,ID Training,NaN,Fort Lee,510844.96,0.0,Business Rule,...,95.0,Business Rule,NaN,Business Rule,NaN,Business Rule,NaN,Business Rule,NaN,Business Rule
3,1315413,ACT,11/11/2010,IMCOM,ID Training,NaN,Fort Lee,393814.92,0.0,Business Rule,...,95.0,Business Rule,NaN,Business Rule,NaN,Business Rule,NaN,Business Rule,NaN,Business Rule
4,1315414,ACT,11/11/2010,IMCOM,ID Training,NaN,Fort Lee,454502.58,0.0,Business Rule,...,95.0,Business Rule,NaN,Business Rule,NaN,Business Rule,NaN,Business Rule,NaN,Business Rule

In [18]:
df.columns

Index(['Asset_UID', 'RPA_Operational_Status_CD', 'Facility_Built_Date',
       'Army Head Quarter""', 'Region', 'Installation', 'Base', 'ERV',
       'FY20Qual_Score', 'Rating_Method', 'FY19 Asset Level Data_Qual_Score',
       'FY19 Asset Level Data_Rating_Method',
       'FY18 Asset Level Data_Qual_Score',
       'FY18 Asset Level Data_Rating_Method',
       'FY17 Asset Level Data_Qual_Score',
       'FY17 Asset Level Data_Rating_Method',
       'FY16 Asset Level Data_Qual_Score',
       'FY16 Asset Level Data_Rating_Method',
       'FY15 Asset Level Data_Qual_Score',
       'FY15 Asset Level Data_Rating_Method',
       'FY14 Asset Level Data_Qual_Score',
       'FY14 Asset Level Data_Rating_Method'],
      dtype='object')